.moreBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.players {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}