.manage-time {
    display: flex;
    flex-direction: column;
    margin-top: 25dvh;
}

.manage-time button {
    display: flex;
    width: 8dvw;
    height: 5dvh;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-bottom: 2dvh;
    font-size: large;
    background-color: brown;
    border: 2px solid black;
}