.booking {
    margin-top: 30dvh;
    display: flex;
    flex-direction: column;
}

.daily {
    display: flex;
    flex-direction: column;
    width: 80dvw;
}

.daily div {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: center;
}

.hour-group {
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    width: 1200px;
    height: 100px;
}

.daily h2 {
    width: fit-content;
}

.label {
    display: flex;
    font-size: 4em;
    text-shadow: 3px 3px 3px black, 3px 3px 3px black;
    padding: 10px;
    margin: 2px;
}

.time {
    display: flex;
    width: 15dvw;
    border-right: 1px solid black;
    justify-content: center;
    align-items: center;
}

.available {
    font-size: 3em;
    margin: 0;
    height: fit-content;
    text-shadow: 1px 2px 3px rgb(0, 255, 0)
}

.available:hover {
    cursor: pointer;
}

.unavailable {
    font-size: 3em;
    margin: 0;
    height: fit-content;
    color: rgba(211, 211, 211, 0.149);   
}

.left {
    width: 15dvw;
    border-right: 2px solid black;
}

.tee-time-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
