
.background-menu {
    position: relative;
    z-index: -1;
    width: 110dvw;
    height: 220dvh;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 20px auto;
    color: rgb(230, 230, 230);
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
}


.navbar a {
    color: #ffffff;
    padding: 10px;
}



.page {
    position: absolute;
    z-index: 0;
    width: 50%;
    height: 110%;
    border: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}