

.background-menu {
    position: relative;
    z-index: -1;
    width: 100%;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 20px auto;
    color: #cce0dd;
    text-shadow: 1px 1px 1px black, 2px 2px 1px black;
}


.navbar a {
    color: #cce0dd;
    padding: 10px;
}



.page {
    position: absolute;
    z-index: 0;
    left: 26%;
    top: 30%;
    width: 50%;
    height: 110%;
    border: none;
}