.background {
  width: 100%;
  height: 100%;
}

.background img {
    width: 99.3%;
    height: 150%;
    position: absolute;
    z-index: -1;
  }

.page {
    position: absolute;
    z-index: -1;
    left: 25%;
    top: 30%;
    width: 50%;
    height: 120%;
    border: none;
}