.manage-rates-page {
    display: flex;
    flex-direction: column;
    margin-top: 30dvh;
}

.manage-rates-page button {
    display: flex;
    border: 2px solid white;
    box-shadow: 1px 2px 3px 3px rgb(0, 0, 0);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    border: none;
    width: 8dvw;
    align-self: center;
    justify-content: center;
    margin-top: 2dvh;
    margin-bottom: 2dvh;
}

.add-new-rate {
    background-color: brown;
}

.rates-edit {
    display: flex;
    border-bottom: 1px solid black;
    flex-direction: column;
}

.rate-edit {
    display: flex;
    flex-direction: column;
    margin: 2em;
    height: fit-content;
}

.rate-edit h3 {
    padding-left: 0px;
}

.rate-description-edit {
    display: flex;
    flex-direction: column;
    margin: 0px;
}