.rates {
  font-weight: 300;
  background-color: rgba(3, 3, 3, 0.75);
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(33, 18, 18, 0.808);
  color: #cce0dd;
  display: flex;
  text-align: left;
  width: 95%;
  align-self: center;
  justify-content: center;
  margin-top: 30dvh;
}

.h1 {
  font-family: "Oswald", serif;
  font-size: 3em;
  text-align: center;
  margin-top: 35dvh;
  margin-bottom: 10dvh;
  color: #cce0dd;
  text-shadow: 1px 1px 1px black, 2px 2px 1px black;
}

h2 {
  font-family: "Oswald", serif;
  font-weight: 700;
  font-size: 30px;
}

p {
  width: fit-content;
  font-family: "Oswald", serif;
  font-size: 18px;
}

ul {
  width: fit-content;
  font-size: 23px;
  color: rgb(216, 241, 241);
}

.subtitle {
  display: flex;
  margin: 0;
  padding: 0%;
  justify-content: center;
  width: fit-content;
}

.subtitle img {
  display: flex;
  width: 35px;
  padding: 0%;
}

.prices {
  display: flex;
  width: 250px;
  justify-content: flex-start;
  flex-direction: column;
}

.cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin: 6px;
  padding-bottom: 5px;
  border-bottom: 2px dotted black;
}

.cost ul {
  display: flex;
  margin: 0;
  padding: 0%;
}

.cost p {
  display: flex;
  margin: 0;
  padding: 0%;
}

#cart {
  margin-top: 1px;
  margin-bottom: 10px;
}

.winter {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 15px;
  align-items: center
}

.summer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 15px;
  align-items: center
}

.fall {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 15px;
  align-items: center
}

.spring {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 15px;
  align-items: center
}

.background-rates {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

body {
  background-color: rgb(37, 36, 36);
  color: rgb(230, 230, 230);
  justify-items: center;
}