.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(7, 5, 15, 0.779);
    border-bottom: 2px solid black;
    z-index: 1;
    font-size: 1.1em;
    top: 0;
    left: 0;
    
}

.navbar a {
    color: rgb(230, 230, 230);
    padding: 10px;
    text-decoration: none;
}

.navbar a h2{
    font-size: xxx-large;
    margin: 0px;
    margin-left: 2dvw;
}

ul {
    display: flex;
    align-items: flex-end;
    height: fit-content;
    padding: 3px;
}

ul a {
    text-decoration: none;
    color: rgb(230, 230, 230);
    
}

.navbar-logo {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    width: fit-content;
    text-align: center;
    height: fit-content;
}

.navbar-logo h2 {
    font-size: 62px;
    margin: 0px;
    letter-spacing: 2px;
    font-weight: 500;
    height: 31px;
    color: rgb(230, 230, 230);
}

.navbar-logo h3 {
    font-size: 15px;
    margin: 0px;
    margin-top: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    height: 13px;
    color: rgb(230, 230, 230);
}
.profile-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-button button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.bird-logo {
    opacity: .85;
    width: auto;
    height: 10dvh;
}
