.log-in {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-in-form label {
    display: flex;
    justify-content: end;
    width:  20dvw;
    margin-top: 1dvh;
}

.log-in-form label input {
    display: flex;
    margin-left: 1dvw;
}

.log-in-form button {
    display: flex;
    border: 2px solid white;
    box-shadow: 1px 2px 3px 3px rgb(0, 0, 0);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    border: none;
    width: 8dvw;
    align-self: center;
    justify-content: center;
    margin-top: 5dvh;
    margin-bottom: 2dvh;
}