.days {
  margin-top: 10dvh;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content
}

.days p {
  padding: 5px;
}

.week-days {
  display: flex;
}

.week-days div{
  display: flex;
  justify-content: center;
}

.week-days p {
  margin-top: 5dvh;
  height: fit-content;
}

.days div div{
    width: 8dvw;
    height: 12dvh;
    margin: 0;
    font-size: xx-large;
    border: 1px solid black;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.week-0 {
  display: flex;
  justify-content: end;
}

.week-1 {
  display: flex;
  justify-content: end;
}

.week-2 {
  display: flex;
  justify-content: end;
}

.week-3 {
  display: flex;
  justify-content: end;
}

.week-4 {
  display: flex;
}
